.all-tabs {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.countries,
.favorites {
  border: 1px solid gray;
  margin-right: 20px;
  border-radius: 5px;
  padding: 10px;
  width: 300px;
}

.flag {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-left: 10px;
  margin-right: 10px;
}

.country {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

body {
  background-color: rgb(251, 251, 246);
}
